<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${header}">title place holder</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/vorlage.css" >
		<link href="css/mapbox-gl-js/0.49.0/mapbox-gl.css" rel="stylesheet" />
		<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
		
	</head>
	

	<body>

		<!-- handlebar templates -->
	 	<script id="entry-template" type="text/x-handlebars-template">
			<span id="{{id}}">{{text}}</span>
			<br>
		</script>


		<main role="main">

			<!-- Main jumbotron for a primary marketing message or call to action -->
			<div class="jumbotron">
				<div class="container">
					<h1 th:text="${header}">header place holder</h1>
				</div>
			</div>

			<div class="container">
			
				<p th:text="${message}">Welcome place holder</p>
				<span id="timestamp-value">-</span> <i class="fa fa-clock-o" aria-hidden="true"></i>
				
				<span id="battery-value">-</span> <i id="battery-icon" class="fa fa-battery-full" aria-hidden="true"></i>
				
				<div id="map" style="height: 500px;"></div>
				<p id="info"></p>
				

			</div> <!-- /container -->

		</main>

		<footer class="container">
			<p>&copy; Dirk Friedenberger 2020</p>
		</footer>

		<script src="js/jquery-3.4.1.min.js"></script>
		<script src="js/handlebars-v4.1.2.js"></script>

		<script src="js/mapbox-gl-js/0.49.0/mapbox-gl.js"></script>
		<script th:inline="javascript">
			mapboxgl.accessToken = /*[[${mapboxAccessToken}]]*/ "";
			var deviceId = /*[[${deviceId}]]*/ "";
		</script>
		
		<script>
					$(document).ready(function(){
							
						
										
						var entryTemplateSource   = document.getElementById("entry-template").innerHTML;
						var entryTemplate = Handlebars.compile(entryTemplateSource);

						var map = new mapboxgl.Map({
							container: 'map', // container id
							style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
							center: [13.404954  , 52.520007], // starting position [lng, lat]
							zoom: 17 // starting zoom
						});
						
						var marker = new mapboxgl.Marker();
						
						function updatePosition()
						{
							$.getJSON( "/api/v1/currentPosition/"+deviceId , function( position ) {
	
								map.flyTo({
									center: [position.longitude , position.latitude ],
									essential: true // this animation is considered essential with respect to prefers-reduced-motion
								});
								
								marker.setLngLat([position.longitude , position.latitude ]);
	 
								// Ensure it's added to the map. This is safe to call if it's already added.
								marker.addTo(map);
								
								//battery
								
								$("#battery-value").text(position.battery+"%");
								
								$("#hello").removeClass (function (index, className) {
    								return (className.match (/(^|\s)fa-battery-\S+/g) || []).join(' ');
								});
								
								//battery-icon 100 -> 0-5  / 20 
								var ix = parseInt(position.battery / 20);
								$("#battery-icon").addClass("fa-battery-"+ix);
								
								//timestamp
								var date = new Date(position.time * 1000);
								function d2(i) { return i < 0 ? "0"+i : i; };
								$("#timestamp-value").text(d2(date.getHours())+":"+d2(date.getMinutes()));
								
								
								
								
	                            var txt = position.latitude +", " + position.longitude+", "
	                            	+ date.toISOString()
	                            	+ " "+ position.battery+"% ("+ix+") "+position.connection;
	                            
								var context = {id : deviceId , text : txt };
								var html    = entryTemplate(context);
	
								$("#info").append(html);
	
							}).fail(function() {
								console.log( "error  getting item " + id);
							});
							setTimeout(updatePosition,60 * 1000);
						}
								
						updatePosition();

					});
					
					
					
		</script>

	</body>

</html>
